<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
     </ion-buttons>
    <ion-title>Fatos Importantes do TWICE</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-item>
  <ion-label>Número de Fãs</ion-label>
  <ion-badge slot="start">10.000.000</ion-badge>
</ion-item>
<ion-item>
  <ion-label>Vendas de Album</ion-label>
  <ion-badge slot="end">1.599.635</ion-badge>
</ion-item>
<ion-item>
  <ion-label>Membros do TWICE</ion-label>
  <ion-badge slot="end">9</ion-badge>
</ion-item>
<ion-item>
  <ion-label>Idade da Nayeon</ion-label>
  <ion-badge slot="end">27</ion-badge>
</ion-item>
<ion-item>
  <ion-label>Idade da Jeongyeon</ion-label>
  <ion-badge slot="end">26</ion-badge>
</ion-item>
<ion-item>
  <ion-label>Idade da Momo</ion-label>
  <ion-badge slot="end">26</ion-badge>
</ion-item>
<ion-item>
  <ion-label>Idade da Sana</ion-label>
  <ion-badge slot="end">26</ion-badge>
</ion-item>
<ion-item>
  <ion-label>Idade da Jihyo</ion-label>
  <ion-badge slot="end">25</ion-badge>
</ion-item>
<ion-item>
  <ion-label>Idade da Mina</ion-label>
  <ion-badge slot="end">25</ion-badge>
</ion-item>
<ion-item>
  <ion-label>Idade da Dahyun</ion-label>
  <ion-badge slot="end">24</ion-badge>
</ion-item>
<ion-item>
  <ion-label>Idade da Chaeyoung</ion-label>
  <ion-badge slot="end">23</ion-badge>
</ion-item>
<ion-item>
  <ion-label>Idade da Tzuyu</ion-label>
  <ion-badge slot="end">22</ion-badge>
</ion-item>
<ion-item>
  <ion-label>Número de vitorias em MusicShow</ion-label>
  <ion-badge slot="end">119</ion-badge>
</ion-item>
<ion-item>
  <ion-label>Ano de Debut</ion-label>
  <ion-badge slot="end">2016</ion-badge>
</ion-item>

<ion-item>
  <ion-label>Ultimo Comeback</ion-label>
  <ion-badge slot="end">2021</ion-badge>
</ion-item>
</ion-content>
