<ion-header>
  <ion-toolbar color="warning">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Pagina de Input</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item>
    <ion-label>Texto Padrão</ion-label>
    <ion-input></ion-input>
  </ion-item> 

  <ion-item>
    <ion-label position="floating">Texto Flutuando</ion-label>
    <ion-input></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="fixed">Texto Fixo</ion-label>
    <ion-input></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Texto Superior</ion-label>
    <ion-input></ion-input>
  </ion-item>

</ion-content>
